

body {
    /* background-color: #343a40; */
    background-color: #f9e4b7;

    

}

h2{
    color: #fff;
    font-size: 4rem;
}
button{
    color: black;
}
a{
    color: black;
}
a:hover{
    text-decoration: underline;
    color:#fff;
}

.greeting {
    
    
    padding: 7% 15%;
    
}
.greeting h2{
    padding-left: 0%;
}
.profile-pic {
    border: 10px solid white;
    position: absolute;
    margin-left: 0%;
    
    width: 70%;
    border-radius: 10px;
    /* transform: rotate(25deg); */
    z-index: -1;
    display: inline-block;
    margin-top: 10%;
    opacity: 0.9;


}


.Middle-Container{
    z-index: 1;

}
.Middle-ContainerBackDrop{

    background: white;
    position: absolute;
    margin-left: 0%;
    
    width: 100%;
 
    /* transform: rotate(25deg); */
    z-index: -1;
    display: inline-block;
    margin-top: 10%;
    opacity: 0.9;

}
.container-m{
    padding-top:5% ;
    font-size: 2.5rem;
    font-family: 'Qwitcher Grypen', cursive;
}
.btn{
    margin-top: 10%;
}

.greeting{
    text-align: left;
}


@media(max-width:817px) {

    .container-m{
        text-align: center;
    }
    .greeting{
        text-align: center;
    }

    .profile-pic {
        width:70%;
        text-align: center;
        margin-left: 100px;
        position: static;
        transform: rotate(0);
        padding-top: 0px;
        margin-top: 10px;
      
    }
}

@media(max-width:765px) {
    .skillsrow{
        padding:100px ;

    }
    .card{
        margin-bottom: 50px;;
    }
}

@media(min-width:1200px){
    .Bottom-Container{
        height: 500px;
    }
    
}


.listParent{
    display: flex;  
    justify-content: center;  
    align-items: center;

}




  /*
    Auther: Abdelrhman Said
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}


.wrapper {
  display: inline-flex;
  list-style: none;
  position: relative;

}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}







