<%-include("header.ejs")-%>
<%-include("navigarion.ejs")-%>




<!-- Middle Container -->
<div class="Middle-Container ">


    <div class="container1">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="greeting">
                    <h2 class="greeting">Hey, I'm Faeem.</h2>
                    <strong>
                        <p class="container-m">Web desighner and developer from London UK. I create custom website
                            to help anyone in need</p>
                    </strong>
                 




                </div>
            </div>
            <div class="col-md-6 col-sm-12 ">
                <div  class="Middle-ContainerBackDrop">

                    <div class="container">
                        <div class="row">
                          <div style="border:10px solid red;background-color: white;display: inline-block;" class="col-md-8">
                            
                            <img style="width: 100%;background-color: white;" class="profile-pic" src="../faviconio-logo /IMG_4200 2.JPG" alt="">
                          </div>
                          <div class="col-md-4">
                            One of three columns
                          </div>
        
                        </div>
                      </div>

                </div>

            </div>

        </div>


    </div>
</div>




<div class="Footer-Container">
    <%-include("footer.ejs")-%>
</div>