<nav class="navbar navbar-expand-lg ">
    <button style="background-color: white;" class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span "  class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <a class="navbar-brand " href="../faviconio-logo /logo.png"><img class="logo"
                src="faviconio-logo /logo_3.png" alt=""></a> -->
                <a class="navbar-brand " href="../faviconio-logo /logo.png"><img class="logo"
                    src="/IMG_5147.PNG" alt=""></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contact
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://www.facebook.com/faeem.ahmed.31">Facebook</a>
                    <a class="dropdown-item"
                        href="https://www.instagram.com/fazz12351/?hl=en-gb">Instagram</a>
                    <a class="dropdown-divider"></a>
                    <a class="dropdown-item"
                        href="https://www.linkedin.com/in/faeem-ahmed-193b6a12a">LinkedIn</a>
                </div>
            </li>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Projects
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="projects/TinDog/index.html">Tindog</a>
                    <a class="dropdown-item" href="projects/Dicee/dicee.html">Dice</a>
                    <a class="dropdown-item" href="projects/Drum/index.html">Drum</a>
                    <a class="dropdown-item" href="projects/SimonGame/index.html">Simon</a>
                    <!-- <a class="dropdown-item" href="../Calculator/bmiCalculator.html">BMI Calculator</a> -->
                    <a class="dropdown-item" href="projects/WeatherApp/index.html">Live Weather </a>
                    <a class="dropdown-item" href="projects/Google/index.html">Google</a>
                    <a class="dropdown-item" href="/WeatherAPI">Updated</a>


                    <a class="dropdown-item" href="projects/University/Projects.html">University
                        Projects</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Certificates
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"
                        href="https://drive.google.com/file/d/155c9_mLZd1LB87E4p7czCMm4bV1d_I1P/view">Web
                        Development(Mimo)</a>
                    <a class="dropdown-item"
                        href="https://drive.google.com/file/d/1luLiEFoDPRnjH9TO7bZb8zMgJQKMi53k/view">SQL(Mimo)</a>

                </div>
            </li>

        </ul>

    </div>
</nav>